body {
    background-color: white;
    min-width: 320px;
}

header {
    height: 75px;
}

.region-header {
    height: 75px;
}

#block-bmwparadise-branding {
    height: 75px;
    text-align: right;
    margin-right: 3%;
}

.region-primary-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 3%;
}

.region-primary-menu li {
    float: left;
}

.region-primary-menu li a {
    background-color: slategray;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.region-primary-menu li a:hover {
    background-color: #111111;
}

.region-secondary-menu {
    float: right;
    margin-right: 3%;
}

.layout-content {
    margin-left: 4%;
}

.region-content div {
    width: 30%;
    float: left;
}

.region-content {
    clear: both;
}

.layout-sidebar-first {
    clear: both;
}

.views-row {
    width: 100% !important;
}

#block-bmwparadise-views-block-gulbene-block-1  div {
    width: 98%;
    margin-left: 1%;
}

#block-bmwparadise-views-block-riga-block-1 div{
    width: 98%;
    margin-left: 1%;
}

#block-bmwparadise-views-block-valmiera-block-1 div{
    width: 98%;
    margin-left: 1%;
}

#block-bmwparadise-views-block-gulbene-block-1  h2 {
    text-align: center;
}

#block-bmwparadise-views-block-riga-block-1 h2{
    text-align: center;
}

#block-bmwparadise-views-block-valmiera-block-1 h2{
    text-align: center;
}

.field--name-field-parts-image {
    width: 128px !important;
    height: 128px;
}

.field--name-field-parts-text {
    width: 50% !important;
    text-align: center;
}

.field--name-field-parts-price {
    font-weight: bold;
    font-size: 21px;
    clear: both;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: lightblue;
    }
    .field--name-field-parts-image {
        display: none;
    }

    .field--name-field-parts-text {
        width: 100% !important;
        text-align: center;
    }

    .field--name-field-parts-price {
        width: 100% !important;
        font-weight: bold;
        font-size: 14px;
        clear: both;
        text-align: center;
    }

    .region-content h2{
        font-size: 16px;
    }


    #block-bmwparadise-views-block-gulbene-block-1 {

    }

    #block-bmwparadise-views-block-riga-block-1 {
        margin-left: 10px;
    }

    #block-bmwparadise-views-block-valmiera-block-1 {
        margin-left: 20px;
    }

}